.sidebar-container {
  position: fixed;
  width: 200px;
  top: 60px;
  height: calc(100vh - 60px);
  z-index: 10;
}

.sidebar-container .pro-sidebar {
  height: 100vh;
  min-width: 100%;
}

.sidebar-container .logo {
  padding: 20px;
}
