.outerContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.innerContainer {
  display: flex;
  align-items: center;
}

.imageContainer {
  border-radius: 50%;
  margin-right: 20px;
}
