html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.leftSidebarInnerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: "20px";
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.leftSidebarInnerContainer:hover {
  background-color: "rgba(231, 245, 255, 1)";
}
